<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @session.session_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @session.data %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
