<img src="http://i.imgur.com/5t8pTrx.jpg" id="sign-img">
<div class="jumbotron text-center">
  <h1>Sign Up</h1></br>

  <%= form_for(@user) do |user| %>

    <div>
      <%= user.label :name, class: "control-label" %></br>
      <%= user.text_field :name, class: "form-control input-sm", autofocus: true  %>
    </div>
    <br/>

    <div>
      <%= user.label :email, class: "control-label" %></br>
      <%= user.text_field :email, class: "form-control input-sm" %>
    </div>
    <br/>

    <div>
      <%= user.label :password, class: "control-label" %></br>
      <%= user.password_field :password, class: "form-control input-sm" %>
    </div>
    <br/>

    <div>
      <%= user.label :password_confirmation, "Confirmation", class: "control-label" %></br>
      <%= user.password_field :password_confirmation, class: "form-control input-sm"%>
    </div>
    <br/>
    
    <div>
      <%= user.submit 'Create my account', class: "btn btn-large btn-default form-btn" %>
    </div>

  <% end %> 
</div>
