<!DOCTYPE html>
<html>
<h1>Sign In</h1>

<%= form_for(:session, url: '/#/dashboard') do |user| %>

  <div>
    <%= user.label :name %>
    <%= user.text_field :name %>
  </div>
  <br/>

  <div>
    <%= user.label :password %>
    <%= user.password_field :password%>
  </div>
  <br/>

  <div>
    <%= user.submit 'Done' %>
  </div>

<% end %> 
</html>