<div class="jumbotron">
  <h1>Sign In</h1>
  <div class="user-form" id="signin">
  <%= form_for(:session, url: '/#/dashboard') do |user| %>

    <div>
      <%= user.label :name %></br>
      <%= user.text_field :name, autofocus: true  %>
    </div>
    <br/>

    <div>
      <%= user.label :password %></br>
      <%= user.password_field :password%>
    </div>
    <br/>

    <div>
      <%= user.submit 'Done' %>
    </div>

  <% end %>
  </div> 
</div>
